<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
    <variable name="basePath" value="c:\logs\" />
    <variable name="msgErrorFormat" value="$[${date:format=dd/MM/yyyy HH\:mm\:ss}] - ${message}" />
    <variable name="msgTraceFormat" value="${onexception:${newline}}[${date:format=dd/MM/yyyy HH\:mm\:ss.ffff}][${level}][#${threadid}] - ${message}" />
    <variable name="appSource" value="DbExport" />
    <targets>
      <default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow" />
      <default-target-parameters xsi:type="File" autoFlush="false" concurrentWrites="true" keepFileOpen="true" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd" maxArchiveFiles="120" />
      <target name="asyncFileTrace" archiveAboveSize="209715200" archiveNumbering="DateAndSequence" archiveFileName="${basePath}/${appSource}/{#####}-trace.log" xsi:type="File" fileName="${basePath}/${appSource}/trace.log" layout="${msgTraceFormat}" />
      <target name="asyncFileError" xsi:type="File" fileName="${basePath}/${appSource}/error.log" archiveFileName="${basePath}/${appSource}/{#####}-error.log" layout="${msgErrorFormat}" />
      <target xsi:type="ColoredConsole" name="ColoredConsole" layout="${msgTraceFormat}" useDefaultRowHighlightingRules="true" />
    </targets>
    <rules>
      <!--minlevel:[Off|Fatal|Error|Warn|Info|Debug|Trace]-->
      <logger name="*" level="Error" writeTo="asyncFileError" />
      <logger name="*" minlevel="Trace" writeTo="asyncFileTrace" />
      <logger name="*" minlevel="Trace" writeTo="ColoredConsole" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="SourceDBConnection" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Sample Task;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
  <appSettings>
    <add key="MaxNumberOfThreads" value="10"/>
    <add key="SourceTableName" value="dbo.Source"/>
    <add key="DestinationTableName" value="dbo.Destination"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>